.introBackground {
  background: linear-gradient(115deg, rgb(211, 255, 215) 0%, rgb(0, 0, 0) 100%), radial-gradient(90% 100% at 50% 0%, rgb(200, 200, 200) 0%, rgb(22, 0, 45) 100%), radial-gradient(100% 100% at 80% 0%, rgb(250, 255, 0) 0%, rgb(36, 0, 0) 100%), radial-gradient(150% 210% at 100% 0%, rgb(112, 255, 0) 0%, rgb(20, 175, 125) 0%, rgb(0, 10, 255) 100%), radial-gradient(100% 100% at 100% 30%, rgb(255, 77, 0) 0%, rgba(0, 200, 255, 1) 100%), linear-gradient(60deg, rgb(255, 0, 0) 0%, rgb(120, 86, 255) 100%);
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;
  height: 100vh;
  min-height: 200vw;
  width: 200vw;
  min-width: 100vh;
  position: absolute;
  top: -50%;
  left: -50%;
  transform-origin: center center;
  animation: bgAnimate 60s infinite;
}

@keyframes bgAnimate {
  0% { 
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  33% { 
    filter: hue-rotate(360deg);
  }
  66% { 
    filter: hue-rotate(0deg);
  }
  100% { 
    filter: hue-rotate(360deg); 
    transform: rotate(360deg);
  }
}
