.navLink {
  display: inline-block;
  padding: 0.5em 1em;
  color: #666;
  text-decoration: none;
  box-sizing: border-box;
  transition: all ease-in-out 200ms;
}
.navLink:hover {
  border-bottom: 4px solid red;
  transition: all ease-in-out 200ms;
}